@{
    ViewBag.Title = "正在付款";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section PageSpecificStyleSheetIncludes{
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            font-family: "微软雅黑";
        }

            body ul {
                list-style-type: none;
            }

        /*middle-bar*/
        .banner {
            height: 100px;
            background-color: #229fe6;
            text-align: center;
        }

        .nav {
            height: 48px;
            background-color: #229FE6;
            text-align: center;
        }

            .nav ul {
                list-style-type: none;
                text-align: center;
                width: 700px;
                margin: 0 auto;
            }

                .nav ul li {
                    float: left;
                    font-size: 1.2em;
                    line-height: 48px;
                    color: #ffffff;
                    margin: 0 15px;
                }

                    .nav ul li a {
                        padding: 0 15px;
                        color: #ffffff;
                        text-decoration: none;
                    }

                    .nav ul li:hover {
                        background-color: #ea7b02;
                    }

                .nav ul .active {
                    background-color: #ea7b02;
                }

        /*notice*/
        .article h3 {
            font-size: 31px;
            margin: 0 0 1em 0;
            font-weight: 700;
            padding-bottom: .5em;
            text-align: center;
            color: #1CD5B5;
            font-family: 'PoiretOne-Regular';
        }


        /*foot*/
        .foot {
            height: 150px;
            background-color: #CBCBCB;
            text-align: center;
            padding: 20px 0;
            color: #ffffff;
        }

            .foot p {
                font-size: 14px;
            }

        .copyright {
            text-align: center;
        }

            .copyright p {
                display: block;
                color: #FFFFFF;
                font-size: 14px;
                margin: .5em 0 0 0;
            }

                .copyright p a {
                    color: #FFF;
                }

        .rule {
            width: 900px;
            border-radius: 15px;
            margin: 50px auto;
            background-color: #ffffff;
            padding: 30px 0;
        }

        .tittle {
            width: 900px;
            height: 90px;
            line-height: 90px;
            font-family: "微软雅黑";
            font-size: 25px;
            font-weight: normal;
            background-color: #337ab7;
            color: #ffffff;
            padding-left: 20px;
        }

        .action {
            margin: 20px 30px;
            line-height: 25px;
        }

            .action span {
                float: left;
                width: 25px;
                height: 25px;
                background: url("img/icon-rule-gre.png");
                background-size: cover;
                margin-right: 10px;
            }

            .action .part1 {
                font-size: 15px;
                font-weight: 600;
            }

            .action hr {
                margin-top: 15px;
                margin-bottom: 10px;
            }

            .action .part2 {
                padding: 0px 80px 15px 50px;
                font-weight: 100;
                color: #666;
                margin-bottom: 35px;
                font-size: 10px;
            }
    </style>
}

<div class="container">
    <div class="rule">
        <div class="tittle">报名支付</div>
        <div class="action">
            <div class="part2">
                <div class="alert alert-error" role="alert">
                    <span class="sr-only">error:</span>
                  正在跳转到支付页面,请等待.....
                </div>
                @*<div class="panel panel-default">
                    <div class="panel-heading">支付内容</div>
                    <div class="panel-body">
                        <p>支付金额：@ViewBag.total</p>
                        <p>支付信息：@ViewBag.title</p>
                    </div>
                    <table class="table">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>*@

            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    stInt = window.setInterval(function () {
        window.location.href = "@Url.Action("create", "pay", new { id = ViewBag.tid })";
    }, 1000);
</script>
