@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>test</title>
</head>
<body>
    <div>
        <a href="@Url.Action("create", new { id = "b957bcfe-a39a-4877-955a-139fb1a4cfc9" })">pay</a>
    </div>
</body>
</html>
