@{
    ViewBag.Title = "登录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section PageSpecificStyleSheetIncludes{
<style type="text/css" >
   *{font-family: "微软雅黑";font-size: 16px}
    .banner{height: 100px;background-color: #229fe6;text-align: center}

    .banner{height: 100px;background-color: #229fe6;text-align: center}

        .nav{height: 48px;background-color: #229FE6;text-align: center;}
        .nav ul {
            list-style-type: none;
            text-align: center;
            width: 700px;
            margin: 0 auto;
        }
    .nav ul li{float: left;font-size: 1.2em;line-height: 48px;color: #ffffff;margin: 0 15px}
    .nav ul li a{padding: 0 15px;color: #ffffff;text-decoration: none}
    .nav ul li:hover{background-color: #ea7b02}
    .nav ul .active{background-color: #ea7b02}

    .content{background-color: #ffffff;height: 100%}
    .content .bor{border: 1px solid #bcbcbc;border-radius: 15px;padding: 50px 10px;margin: 30px}
    .content h3{text-align: center;margin: 20px auto !important;}
    .content .form-group{width: 305px;margin: 15px auto}
    .content .form-group input{display: inline}
    .content .form-control{width: 305px}
    .content .next{width: 305px}
    .content .space{height: 30px}
    .content .form-group a{font-size: 10px;margin: 5px 15px}
    .content .form-group .passw{float: right;text-decoration: underline}


    .foot{height: 150px;background-color: #CBCBCB;text-align: center;padding: 20px 0;color: #ffffff}
    .foot p{font-size: 14px}
    </style>
}


@section PageSpecificJavascriptIncludes{
    <script type="text/javascript">
        var stInt;

        $(function () {
            $("#vbtn").click(function () {

                var str = $("#txtaccount").val();
                var strp = $("#txtpwd").val();

                var mb = str.replace(/(^\s*)|(\s*$)/g, "");
                var mbp = strp.replace(/(^\s*)|(\s*$)/g, "");

                if (mb == null || mb == "") {
                    jNotify('请输入账号', { VerticalPosition: "center" });
                    return;
                }

                if (mbp == null || mbp == "") {
                    jNotify('请输入密码', { VerticalPosition: "center" });
                    return;
                }

                var isMobile = /^(?:13\d|14\d|15\d|18\d|17\d|19\d)\d{5}(\d{3}|\*{3})$/;
                if (!isMobile.test(mb)) {
                    jNotify('请检查账号是否手机号码格式', { VerticalPosition: "center" });
                    return;
                }

                $.ajax({
                    type: "GET",
                    contentType: "application/json",
                    url: "/member/checkuser?acc=" + mb + "&pwd=" + mbp + "&r=" + Math.random(),
                    data: {},
                    dataType: "json",
                    success: function (data) {
                        if (data.Code != 0) {
                            jError(data.Message, { VerticalPosition: "center" });
                        }
                        else {

                            var u= '@(string.IsNullOrEmpty(Request.QueryString.Get("url")) ? "" : Request.QueryString.Get("url"))';

                            if (u!="")
                                window.location.href = u;
                            else
                                window.location.href = "/member/center";
                        }
                    }
                });
            });

        });
   </script>
}

   <div class="content">
        <div class="container">
            <div class="bor">
                <h3>用户登录</h3>
                <br/>
                <div class="form-group">
                    <label for="txtaccount">账号</label>
                    <input class="form-control" placeholder="请输入手机号码" type="text" id="txtaccount"/>
                </div>
                <div class="form-group">
                    <label for="txtpwd">密码</label>
                    <input class="form-control" type="password" placeholder="请输入密码" type="password" id="txtpwd" />
                </div>

                <div class="form-group">
                    <button class="btn btn-primary next" id="vbtn">登录</button>
                    <a href="/member/register">注册</a>
                    <a class="passw" href="/member/forget">忘记密码</a>
                </div>
            </div>
        </div>
    </div>