@{
    ViewBag.Title = "密码设置成功";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section PageSpecificStyleSheetIncludes{
   <style>
    *{font-family: "微软雅黑";font-size: 16px}
    .banner{height: 149px;background-color: #229fe6;text-align: center}

    .nav{height: 48px;background-color: #145976;text-align: center;}
    .nav ul{list-style-type: none;text-align: center;margin-left: 10%}
    .nav ul li{float: left;font-size: 1.2em;line-height: 48px;color: #ffffff;margin: 0 15px}
    .nav ul li a{padding: 0 15px;color: #ffffff;text-decoration: none}
    .nav ul li:hover{background-color: #b23232}

    .content{background-color: #ffffff;height: 100%}
    .content .bor{border: 1px solid #bcbcbc;border-radius: 15px;padding: 50px 10px;margin: 30px}
    .content h3{text-align: center;margin: 20px auto !important;}
    .content .form-group{width: 305px;margin: 15px auto}
    .content .form-group input{display: inline}
    .content .form-control{width: 200px}
    .content .next{width: 150px}
    .content .space{height: 30px}
    .item{width: 100%;text-align: center;height: 100px}
    .item ul{list-style-type: none;margin-left: 15%}
    .item ul li{float: left;background-color: #2aabd2;padding: 5px 10px;color: white;margin: 10px}
    .item ul li a{text-decoration: none;color: #ffffff}
    .item ul li:hover{background-color: #1b6d85}
    .text{width: 70%;height: 100px;background-color: #F9F9F9;border-radius: 10px;margin-left: 20%;border: 1px solid #f3f3f3;padding: 20px 20px}


    .foot{height: 150px;background-color: #229fe6;text-align: center;padding: 20px 0;color: #ffffff}
</style>
}

<div class="content">
        <div class="container">
            <div class="bor">
                <h3>密码修改成功</h3>
                <div class="text tab-content">
                    <h5>恭喜您已经成功修改密码，请使用新密码进行登陆</h5>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary next" onclick="javascript:window.location.href='@Url.Action("login")'">请登录</button>
                </div>
            </div>
        </div>
    </div>