@{
    ViewBag.Title = "团队注册";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageSpecificStyleSheetIncludes{
<style type="text/css">
   *{font-family: "微软雅黑";font-size: 16px}
    .banner{height: 100px;background-color: #229fe6;text-align: center}

        .nav{height: 48px;background-color: #229FE6;text-align: center;}
        .nav ul {
            list-style-type: none;
            text-align: center;
            width: 700px;
            margin: 0 auto;
        }
    .nav ul li{float: left;font-size: 1.2em;line-height: 48px;color: #ffffff;margin: 0 15px}
    .nav ul li a{padding: 0 15px;color: #ffffff;text-decoration: none}
    .nav ul li:hover{background-color: #ea7b02}
    .nav ul .active{background-color: #ea7b02}

    .content{background-color: #ffffff;height: 100%}
    .content .bor{border: 1px solid #bcbcbc;border-radius: 15px;padding: 50px 10px;margin: 30px}
    .content h3{text-align: center;margin: 20px auto !important;}
    .content h5{color: red}
    .content h5{margin-left: 30%}
    .content p{margin-left: 30%}
    .content .form-group{width: 305px;margin: 15px auto}
    .content .form-group input{display: inline}
    .content .form-control{width: 200px}
    .content .next{width: 305px}
    .content .space{height: 30px}


    .foot{height: 150px;background-color: #CBCBCB;text-align: center;padding: 20px 0;color: #ffffff}
    .foot p{font-size: 14px}
    </style>
    }

@section PageSpecificJavascriptIncludes{
    <script type="text/javascript">
        var stInt;

        $(function () {
            $("#vbtn").click(function () {

                var dis = $("#txtMobile").attr("disabled");
                if (dis != undefined && (dis == "disabled" || dis == true))
                    return;

                var str = $("#txtMobile").val();
                var mb = str.replace(/(^\s*)|(\s*$)/g, "");

                if (mb == null || mb == "") {
                    jNotify('请输入手机号', { VerticalPosition: "center" });
                    return;
                }

                var isMobile = /^(?:13\d|15\d)\d{5}(\d{3}|\*{3})$/;
                if (!isMobile.test(mb)) {
                    jNotify('请检查手机号码是否正确', { VerticalPosition: "center" });
                    return;
                }

                $.ajax({
                    type: "GET",
                    contentType: "application/json",
                    url: "/enter/GetSMS?mobile=" + mb,
                    data: {},
                    dataType: "json",
                    success: function (data) {
                        if (data.Code != 0) {

                            $("#txtMobile").attr("disabled", false);
                            $("#vbtn").attr("disabled", false);

                            try { window.clearInterval(stInt); }
                            catch (e) { }

                            jError(data.Message);
                        }
                        else {

                            $("#txtMobile").attr("disabled", true);
                            $("#vbtn").attr("disabled", true);

                            var i = 60;
                            stInt = window.setInterval(function () {
                                $("#vbtn").val("剩余(" + i + ")秒");
                                i--;
                                if (i < 0) {
                                    window.clearInterval(stInt);
                                    $("#vbtn").val("获取验证码");

                                    $("#txtMobile").attr("disabled", false);
                                    $("#vbtn").attr("disabled", false);
                                }
                            }, 1000);
                        }
                    }
                });
            });

            $("#vbnext").click(function () {

                var str = $("#txtMobile").val();
                var mb = str.replace(/(^\s*)|(\s*$)/g, "");

                if (mb == null || mb == "") {
                    jNotify('请输入手机号', { VerticalPosition: "center" });
                    return;
                }

                var strV = $("#txtVerfiy").val();
                var mbV = strV.replace(/(^\s*)|(\s*$)/g, "");

                if (mbV == null || mbV == "") {
                    jNotify('请输入验证码', { VerticalPosition: "center" });
                    return;
                }

                $.ajax({
                    type: "GET",
                    contentType: "application/json",
                    url: "/enter/CheckSMS?rd="+Math.round()+"&mobile=" + mb + "&vercode=" + mbV + "&matchid=" + $("#hidid").val(),
                    data: {},
                    dataType: "json",
                    success: function (data) {
                        if (data.Code != 0) {

                            $("#txtMobile").attr("disabled", false);
                            $("#vbtn").attr("disabled", false);

                            try { window.clearInterval(stInt); }
                            catch (e) { }

                            $("#vbtn").val("获取验证码");

                            jError(data.Message);
                        }
                        else {
                            window.location.href = "/enter/step2?uid=" + data.Message + "&matchid=" + $("#hidid").val();
                        }
                    }
                });
            });
        });
   </script>
}

<input id="hidid" type="hidden" value="@ViewBag.id"/>

    <div class="content">
        <div class="container">
            
            <div class="bor">
                <h3>第一步：验证有效信息</h3>
                <p>填写队长手机号并验证</p>
                <h5>*队长手机号将作为队伍登录的账号，一个手机号只能报名一支队伍参加比赛</h5>
                <div class="space"></div>
                <div class="form-group">
                    <input class="form-control" placeholder="请输入队长手机号码" type="text" id="txtMobile">
                    <input class="btn btn-primary" type="button" id="vbtn" value="获取验证码"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入验证码" id="txtVerfiy">
                </div>
                <div class="form-group">
                    <button class="btn btn-success next" type="button" id="vbnext">下一步</button>
                </div>
            </div>
        </div>
    </div>
