@{
    ViewBag.Title = "报名须知";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageSpecificStyleSheetIncludes{
<style>
    body {
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        font-family: "微软雅黑";
    }

        body ul {
            list-style-type: none;
        }

    /*middle-bar*/
    .banner {
        height: 100px;
        background-color: #229fe6;
        text-align: center;
    }

    .nav {
        height: 48px;
        background-color: #229FE6;
        text-align: center;
    }

        .nav ul {
            list-style-type: none;
            text-align: center;
            width: 700px;
            margin: 0 auto;
        }

            .nav ul li {
                float: left;
                font-size: 1.2em;
                line-height: 48px;
                color: #ffffff;
                margin: 0 15px;
            }

                .nav ul li a {
                    padding: 0 15px;
                    color: #ffffff;
                    text-decoration: none;
                }

                .nav ul li:hover {
                    background-color: #079c3e;
                }

            .nav ul .active {
                background-color: #337ab7;
            }

    /*notice*/
    .article h3 {
        font-size: 31px;
        margin: 0 0 1em 0;
        font-weight: 700;
        padding-bottom: .5em;
        text-align: center;
        color: #1CD5B5;
        font-family: 'PoiretOne-Regular';
    }


    /*foot*/
    .footer {
        padding: 1em 0;
        background: #CBCBCB;
    }

    .footer-bottom {
        padding-top: 2em;
    }

    .copyright {
        text-align: center;
    }

        .copyright p {
            display: block;
            color: #FFFFFF;
            font-size: 14px;
            margin: .5em 0 0 0;
        }

            .copyright p a {
                color: #FFF;
            }

    .rule {
        width: 900px;
        border-radius: 15px;
        margin: 50px auto;
        background-color: #ffffff;
        padding: 30px 0;
    }

    .tittle {
        width: 900px;
        height: 90px;
        line-height: 90px;
        font-family: "微软雅黑";
        font-size: 25px;
        font-weight: normal;
        background-color: #337ab7;
        color: #ffffff;
        padding-left: 20px;
    }

    .action {
        margin: 20px 30px;
        line-height: 25px;
    }

        .action span {
            float: left;
            width: 25px;
            height: 25px;
            background: url("img/icon-rule-gre.png");
            background-size: cover;
            margin-right: 10px;
        }

        .action .part1 {
            font-size: 15px;
            font-weight: 600;
        }

        .action hr {
            margin-top: 15px;
            margin-bottom: 10px;
        }

        .action .part2 {
            padding: 0px 80px 15px 50px;
            font-weight: 100;
            color: #666;
            margin-bottom: 35px;
            font-size: 10px;
        }
</style>
    }
@section PageSpecificJavascriptIncludes{
    <script type="text/javascript">
    var stInt;

    var i = 10;
    stInt = window.setInterval(function () {
        $("#btnnext").text("请阅读须知(" + i + "s)");
        i--;
        if (i < 0) {
            window.clearInterval(stInt);
            $("#btnnext").text("我已阅读须知并接受,立即报名");
            $("#btnnext").attr("disabled", false);
        }
    }, 1000);

        </script>
    }

        <div class="container">
        <div class="rule">
            <div class="tittle">赛事预报名</div>
            <div class="action">
                <span></span><div class="part1">参赛须知</div>
                <hr>
                <div class="part2">
                    @*<div class="alert alert-warning" role="alert">
                            <p>1.参赛选手须自愿参加本次活动。具有完全行为能力，无患有包括但不限于心脏病、高血压、哮喘、精神病等任何不适宜参与本赛事疾病的身体健康人员。若参赛人员隐瞒疾病或病史，强行参赛，后果自负。</p>
                            <p>2.所有参赛队伍报名确认后，由赛事组织方随机编排参赛线路， 依次按序分批出发，不得随意更改。</p>
                            <p>3.参赛人员在比赛过程中须服从赛事组织方统一指挥，严格遵守比赛规则，在赛事组织方规定的时间、地点集结，注意交通安全，量力而行，不得擅自离队，否则自负其责。</p>
                            <p>4.参赛人员在比赛过程中须做到文明参与，自觉维护现场公共秩序，遵守社会公德，不得对他人进行人身攻击，不得违法或者有背于社会公德，并在赛事过程中发扬互助友爱的精神，使赛事顺利进行。</p>
                            <p>5.参赛人员保证在整个赛事过程中不随地抛洒、丢弃垃圾，所有垃圾都要打包带走。爱护自然环境中的一草一木，不随意采摘、破坏植物、不任意践踏、破坏植被。</p>
                            <p>6.参赛人员须自觉遵守所到点标的公共秩序及相关规定，不应对所经之处的公共秩序产生不良影响。完成任务时出现拥挤现象，请自觉遵守任务现场秩序，勿急躁、插队，杜绝发生口角、矛盾，队长安抚并带领队员服从裁判的安排，安全有序地完成任务。</p>
                            <p>7.参赛人员应自行携带赛事所需物品及装备，并自行妥善保管。</p>
                            <p>8.赛事组织方为参赛人员统一购买了相应的意外伤害保险。对于赛事中出现的意外伤害事故，参赛人员应及时通知赛事组织方，由赛事组织方向保险机构统一理赔，但赛事组织方无需对参赛人员因其故意或过错行为所遭致的伤害承担责任。</p>
                            <p>9.参赛人员须保证所提供的个人信息是真实、准确的，并愿意承担提供信息错误所带来的一切责任和后果。</p>
                            <p>10.参赛人员须缴纳40元/每人的报名费，每队5人共需缴纳200元，费用缴纳后视为参赛人员，已阅读本《须知》且参与本次赛事。</p>
                            <p>11.赛事组织方有权根据天气、人员情况对赛事作出适当调整。</p>
                            <p>12.参赛人员须在阅读并承诺遵守本《须知》后报名参赛，参赛人员应委托所属参赛队伍的队长办理报名手续并授权其签署报名文件。参赛人员一旦参赛则视为其已阅读并承诺遵守本《须知》。</p>
                            <p>13.比赛结束关门时间是当日15:00，比赛关门时间后终点处组委会仍会安排一定工作人员等候未及时赶回闭幕式的参赛队。</p>
                    </div>*@

                    <div class="alert alert-warning" role="alert">
                        @Html.Raw(ViewBag.notice)
                    </div>
                        <div align="center">
                            <a class="btn btn-primary" href="@Url.Action("Step2", new { matchid = ViewBag.tid })" id="btnnext" disabled="disabled">请阅读须知</a>
                        </div>
                    </div>

    </div>
        </div>
</div>