@using Utls;
@using Model;

@{
    ViewBag.Title = "选择路线";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<tblline>

@section PageSpecificStyleSheetIncludes{
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            font-family: "微软雅黑";
        }

            body ul {
                list-style-type: none;
            }

        /*middle-bar*/
        .banner {
            height: 100px;
            background-color: #229fe6;
            text-align: center;
        }

        .nav {
            height: 48px;
            background-color: #229FE6;
            text-align: center;
        }

            .nav ul {
                list-style-type: none;
                text-align: center;
                width: 700px;
                margin: 0 auto;
            }

                .nav ul li {
                    float: left;
                    font-size: 1.2em;
                    line-height: 48px;
                    color: #ffffff;
                    margin: 0 15px;
                }

                    .nav ul li a {
                        padding: 0 15px;
                        color: #ffffff;
                        text-decoration: none;
                    }

                    .nav ul li:hover {
                        background-color: #ea7b02;
                    }

                .nav ul .active {
                    background-color: #ea7b02;
                }

        /*notice*/
        .article h3 {
            font-size: 31px;
            margin: 0 0 1em 0;
            font-weight: 700;
            padding-bottom: .5em;
            text-align: center;
            color: #1CD5B5;
            font-family: 'PoiretOne-Regular';
        }

        .item {
            width: 100%;
            text-align: center;
            height: 100px;
        }

            .item ul {
                list-style-type: none;
            }

                .item ul li {
                    float: left;
                    background-color: #2aabd2;
                    padding: 5px 10px;
                    color: white;
                    margin: 10px;
                }

                    .item ul li a {
                        text-decoration: none;
                        color: #ffffff;
                    }

                    .item ul li:hover {
                        background-color: #1b6d85;
                    }


        /*foot*/
        .foot {
            height: 150px;
            background-color: #CBCBCB;
            text-align: center;
            padding: 20px 0;
            color: #ffffff;
        }

            .foot p {
                font-size: 14px;
            }

        .copyright {
            text-align: center;
        }

            .copyright p {
                display: block;
                color: #FFFFFF;
                font-size: 14px;
                margin: .5em 0 0 0;
            }

                .copyright p a {
                    color: #FFF;
                }

        .rule {
            width: 900px;
            border-radius: 15px;
            margin: 50px auto;
            background-color: #ffffff;
            padding: 30px 0;
        }

        .tittle {
            width: 900px;
            height: 90px;
            line-height: 90px;
            font-family: "微软雅黑";
            font-size: 25px;
            font-weight: normal;
            background-color: #337ab7;
            color: #ffffff;
            padding-left: 20px;
        }

        .action {
            margin: 20px 30px;
            line-height: 25px;
        }

            .action span {
                float: left;
                width: 25px;
                height: 25px;
                background: url("img/icon-rule-gre.png");
                background-size: cover;
                margin-right: 10px;
            }

            .action .part1 {
                font-size: 15px;
                font-weight: 600;
            }

            .action hr {
                margin-top: 15px;
                margin-bottom: 10px;
            }

            .action .part2 {
                padding: 0px 80px 15px 50px;
                font-weight: 100;
                color: #666;
                margin-bottom: 35px;
                font-size: 10px;
            }
        .notice {
            color:red;
            font-size:12px;
        }
    </style>

}
@section PageSpecificJavascriptIncludes{
    <script type="text/javascript">

        var lnn = "";
        var lnn_sub = "";

        $(function () {
            $("li").click(function () {

                //$("#ctt").html("<h5>" + this.innerText + "</h5><p>" + this.title + "</p>");

                //alert($(this).html());

                $(this).html("<span class='glyphicon glyphicon-ok'></span>" + this.innerText);
                if (lnn != "" && lnn != this.id) {
                    $("#" + lnn).html($("#" + lnn).text());
                }

                lnn = this.id;
                lnn_sub = "";

                $('#lulsub').empty();
                $('#ctt').empty();

                $.ajax({
                    type: "GET",
                    contentType: "application/json",
                    url: "/enter/getlines?lid=" + lnn.replace("lnn_", "") + "&tp=" + $("#htp").val()+ "&r=" + Math.random(),
                    data: {},
                    dataType: "json",
                    success: function (data) {
                        if (data.Code != 0) {
                            jError(data.Message);
                        }
                        else {
                            $.each(data.Data, function () {

                                var p = $("#htp").val();
                                if (p == null || p != '1')
                                    $('#lulsub').append("<li ctx='" + this.Notice + "' title='" + this.Content + "' id='lnnsub_" + this.Linesid + "' onclick='shownotice(this)'>" + this.Linename + "</li>");
                                else {
                                    if (this.CanChange=="1")
                                        $('#lulsub').append("<li ctx='" + this.Notice + "' title='" + this.Content + "' id='lnnsub_" + this.Linesid + "' onclick='shownotice(this)'>" + this.Linename + "</li>");
                                    else
                                        $('#lulsub').append("<li ctx='" + this.Notice + "' title='" + this.Content + "' id='lnnsub_" + this.Linesid + "' style='color:#a0a0a0;' onclick='Nocan()'>" + this.Linename + "</li>");
                                }
                            });

                        }
                    }
                });
            });

            $("#nbtn").click(function () {

                if (lnn == "") {
                    jNotify('请选择路线类型', { VerticalPosition: "center" });
                    return;
                }

                if (lnn_sub == "") {
                    jNotify('请选择路线', { VerticalPosition: "center" });
                    return;
                }

                $.ajax({
                    type: "GET",
                    contentType: "application/json",
                    url: "/enter/SelLine?tid=" + $("#htid").val() + "&lid=" + lnn_sub.replace("lnnsub_", "") + "&tp=" + $("#htp").val()+"&r="+Math.random(),
                    data: {},
                    dataType: "json",
                    success: function (data) {
                        if (data.Code != 0) {
                            jError(data.Message);
                        }
                        else {
                            window.location.href = "/enter/step4?tid=" + $("#htid").val() + "&tp=" + $("#htp").val();
                        }
                    }
                });
            });

            $("#lul li:first").click();
        });

        function shownotice(el)
        {
            $("#ctt").html("<h5>" + el.innerText + "</h5><p>" + el.title + "</p><p class='notice'>" + $(el).attr("ctx").replace('null','') + "</p>");

            $(el).html("<span class='glyphicon glyphicon-ok'></span>" + el.innerText);
            if (lnn_sub != "" && lnn_sub != el.id) {
                $("#" + lnn_sub).html($("#" + lnn_sub).text());
            }

            lnn_sub = el.id;
        }

        function Nocan()
        {
            jNotify('很抱歉，路线人数已满，不能选择！', { VerticalPosition: "center" });
        }
    </script>
}

<input id="htid" type="hidden" value="@ViewBag.tid" />
<input id="htp" type="hidden" value="@ViewBag.tp" />

<div class="article">
    <div class="container">
        <div class="rule">
            <div class="tittle">赛事预报名[@ViewBag.matchname]</div>
            <div class="action">
                <div class="action">
                    <span></span><div class="part1">[队名:@ViewBag.tname]选择路线类型</div>
                    <hr>
                    <div class="part2">
                        <div class="item">

                            <ul id="lul">
                                @foreach (var m in Model)
                                {
                                    <li title="@m.Content" id="lnn_@(m.Lineid)">@m.Name</li>
                                }
                            </ul>
                        </div>
                    </div>
                    <span></span><div class="part1">请选择路线</div>
                    <hr>
                    <div class="part2">
                        <div class="item">
                            <ul id="lulsub"></ul>
                        </div>
                        <div class="text" id="ctt">
                            <h5>亲自家庭</h5><p>3人一组，两成人一小孩，小孩年龄7~15岁，共200组。</p>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-warning next" onclick="javascript:window.history.go(-1);">返 回</button>
                            <button class="btn btn-success next" type="button" id="nbtn">下一步</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
    </div>
