@{
    ViewBag.Title = "队伍名称";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageSpecificStyleSheetIncludes{
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            font-family: "微软雅黑";
        }

            body ul {
                list-style-type: none;
            }

        /*middle-bar*/
        .banner {
            height: 100px;
            background-color: #229fe6;
            text-align: center;
        }

        .nav {
            height: 48px;
            background-color: #229FE6;
            text-align: center;
        }

            .nav ul {
                list-style-type: none;
                text-align: center;
                width: 700px;
                margin: 0 auto;
            }

                .nav ul li {
                    float: left;
                    font-size: 1.2em;
                    line-height: 48px;
                    color: #ffffff;
                    margin: 0 15px;
                }

                    .nav ul li a {
                        padding: 0 15px;
                        color: #ffffff;
                        text-decoration: none;
                    }

                    .nav ul li:hover {
                        background-color: #ea7b02;
                    }

                .nav ul .active {
                    background-color: #ea7b02;
                }

        /*notice*/
        .article h3 {
            font-size: 31px;
            margin: 0 0 1em 0;
            font-weight: 700;
            padding-bottom: .5em;
            text-align: center;
            color: #1CD5B5;
            font-family: 'PoiretOne-Regular';
        }


        /*foot*/
        .foot {
            height: 150px;
            background-color: #CBCBCB;
            text-align: center;
            padding: 20px 0;
            color: #ffffff;
        }

            .foot p {
                font-size: 14px;
            }

        .copyright {
            text-align: center;
        }

            .copyright p {
                display: block;
                color: #FFFFFF;
                font-size: 14px;
                margin: .5em 0 0 0;
            }

                .copyright p a {
                    color: #FFF;
                }

        .rule {
            width: 900px;
            border-radius: 15px;
            margin: 50px auto;
            background-color: #ffffff;
            padding: 30px 0;
        }

        .tittle {
            width: 900px;
            height: 90px;
            line-height: 90px;
            font-family: "微软雅黑";
            font-size: 25px;
            font-weight: normal;
            background-color: #337ab7;
            color: #ffffff;
            padding-left: 20px;
        }

        .action {
            margin: 20px 30px;
            line-height: 25px;
        }

            .action span {
                float: left;
                width: 25px;
                height: 25px;
                background: url("img/icon-rule-gre.png");
                background-size: cover;
                margin-right: 10px;
            }

            .action .part1 {
                font-size: 15px;
                font-weight: 600;
            }

            .action hr {
                margin-top: 15px;
                margin-bottom: 10px;
            }

            .action .part2 {
                padding: 0px 80px 15px 50px;
                font-weight: 100;
                color: #666;
                margin-bottom: 35px;
                font-size: 10px;
            }
    </style>
}

@section PageSpecificJavascriptIncludes{
    <script type="text/javascript">
        $(function () {
            $("#cbtn").click(function () {

                var str = $("#tname").val();
                var mb = str.replace(/(^\s*)|(\s*$)/g, "");

                if (mb == null || mb == "") {
                    jNotify('请输入队伍名', { VerticalPosition: "center" });
                    return;
                }

                $.ajax({
                    type: "GET",
                    contentType: "application/json",
                    url: encodeURI("/enter/CheckTname?matchid=" + $("#htid").val() + "&tname=" + mb + "&r=" + Math.random()),
                    data: {},
                    dataType: "json",
                    success: function (data) {
                        if (data.Code != 0) {
                            jError(data.Message);
                        }
                        else {
                            jSuccess("恭喜，你可以使用这个名称", { VerticalPosition: "center" });
                        }
                    }
                });
            });

            $("#nbtn").click(function () {

                var str = $("#tname").val();
                var mb = str.replace(/(^\s*)|(\s*$)/g, "");

                if (mb == null || mb == "") {
                    jNotify('请输入队伍名', { VerticalPosition: "center" });
                    return;
                }

                var l = str.length;
                var blen = 0;
                for (i = 0; i < l; i++) {
                    if ((str.charCodeAt(i) & 0xff00) != 0) {
                        blen++;
                    }
                    blen++;
                }

                if (blen > 12) {
                    jNotify('名字不得大于6个中文或12个英文', { VerticalPosition: "center" });
                    return;
                }

                var pwd = $("#txtpwd").val();
                var npwd = $("#txtnpwd").val();

                //if (pwd != npwd) {
                //    jNotify('两次输入的密码不一致', { VerticalPosition: "center" });
                //    return;
                //}

                //var reg = /^[A-Za-z0-9]{6,16}$/;
                //if (!reg.test(pwd)) {
                //    jNotify('密码长度为6~16个字符，由数字及字母组成', { VerticalPosition: "center" });
                //    return;
                //}

                $.ajax({
                    type: "GET",
                    contentType: "application/json",
                    url: encodeURI("/enter/RegTname?id=" + $("#hid").val() + "&tid=" + $("#htid").val() + "&tname=" + mb + "&tcom=" + $("#tcom").val() + "&pwd=" + pwd + "&r=" + Math.random()),
                    data: {},
                    dataType: "json",
                    success: function (data) {
                        if (data.Code != 0) {
                            jError(data.Message);
                        }
                        else {
                            window.location.href = "/enter/step3?tid=" + data.Message;
                        }
                    }
                });
            });
        });
    </script>
}

<input id="hid" type="hidden" value="@ViewBag.id" />
<input id="htid" type="hidden" value="@ViewBag.tid" />

<div class="article">
    <div class="container">
        <div class="rule">
             <div class="tittle">赛事预报名[@ViewBag.matchname]</div>
            <div class="action">
                <span></span><div class="part1">设定队伍名称</div>
                <hr>
                <div class="part2">
                    <p>设定队伍名称（六个中文字符以内）并验证队伍名称是否重复</p>
                    <div class="space"></div>
                    <div class="form-group">
                        <input class="form-control" placeholder="请输入队伍名称" style="width: 360px;" maxlength=12 id="tname">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="公司名称(非公司团队请填写[个人],如果空则代表个人)" style="width: 360px;" type="text" id="tcom">
                    </div>
                    <p style="display:none;">请设置密码</p>
                    <h5 style="display:none;">*密码长度为6~16个字符，由数字及字母组成，不能包含空格</h5>
                    <div class="form-group" style="display:none;">
                        <input class="form-control" placeholder="请设置密码" type="password" id="txtpwd" value="a00000" />
                    </div>
                    <div class="form-group" style="display:none;">
                        <input class="form-control" placeholder="请再次输入密码" type="password" id="txtnpwd" value="a00000" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="button" id="cbtn">队伍名是否重复?</button>
                        <button class="btn btn-success next" type="button" id="nbtn">下一步</button>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
